


<div class="container">
  <p class="text-center fs-1 fw-bold border-booton">Educacion
  </p>
    <div class="row g-3">
      <div class="col-12 col-md-6 col-lg-4">
        <img src="../../../assets/aluralatam.png" class="card-img-top" id="img" alt="...">
        <div class="card-body">
          <h5 class="fs-4 text-center fw-bold">Curso Front-End y Back-End(2022)</h5>
          <p class="card-text">Principiante en Programacion-Frond-End-Java Orientado a Objetos</p>
        </div>
        
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <img src="../../../assets/argentinaprograma.jpg" class="card-img-top" id="img" alt="...">
        <div class="card-body">
          <h5 class="fs-4 text-center fw-bold">Se programar(2022)</h5>
          <p class="card-text">Principiante en Programacion</p>
        </div>
        
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <img src="../../../assets/uea.jpg" class="card-img-top" id="img" alt="...">
        <div class="card-body">
          <h5 class="fs-4 text-center fw-bold">Universidad Europea del Atlántico(2022)</h5>
          <p class="card-text">Magister en Recursos Humanos y Gestión del Conocimiento</p>
        </div>
        
      </div>
    </div>
    <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-4">
          <img src="../../../assets/conosur.jpg" class="card-img-top" id="img" alt="...">
          <div class="card-body">
            <h5 class="fs-4 text-center fw-bold">Conosur(2022)</h5>
            <p class="card-text">Principiante en Programacion</p>
          </div>
          
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <img src="../../../assets/univ21.jpg" class="card-img-top" id="img" alt="...">
          <div class="card-body">
            <h5 class="fs-4 text-center fw-bold">Universidad Siglo 21</h5>
            <p class="card-text">Diplomatura Ejercicio Profesional</p>
          </div>
          
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <img src="../../../assets/unc.png" class="card-img-top" id="img" alt="...">
          <div class="card-body">
            <h5 class="fs-4 text-center fw-bold">Universidad Nacional de Cordoba(2012)</h5>
            <p class="card-text">Contadora Pública</p>
          </div>
          
        </div>
      </div>
   
</div>
