

<a id="educacion"></a>
<div class="container">
  <p class="text-center fs-1 fw-bold border-booton">Educacion
  </p>
  <a type="button" class="btn btn-warning boton"   routerLink="/nuevaedu" *ngIf="isLogged">Nueva
    Educacion</a>
  
    <div class="row g-2">
      <div class="col-12 col-md-6 col-lg-4 borde"  *ngFor="let Educacion of edu">

        <div class="edicion" *ngIf="isLogged">
          <button class="editar btn " routerLink="/editedu/{{Educacion.id}}"  ><i class="bi bi-pencil-fill"></i></button>
          <button class="borrar btn "(click)="delete(Educacion.id)"><i class="bi bi-trash3"></i></button>
        </div>

        <img [src]="Educacion.imgE" class="card-img-top" id="img" alt="...">
        <div class="card-body">
          <h5 class="fs-4 text-center fw-bold">{{Educacion.institucionE}}-{{Educacion.anioE}}</h5>
          <p class="card-text">{{Educacion.tituloE}}s</p>
          <p class="card-text">{{Educacion.condicionE}}s</p>

        </div>
      </div>
    </div>
        
      
   
</div>


