.parte1, .parte2{
    display: inline-block;
    text-align: justify;
    padding-bottom: 1rem;

}
.imgproyecto{
    box-shadow: 10px 10px 30px #000000;
    
}
.container{
    margin-top: 110px;
}
@media screen and (max-width:980px){
    .container{
        margin-top: 160px;
    }
}