<a id="proyectos"></a>
<div class="container">
    <p class="text-center fs-1 fw-bold">Proyectos Realizados
    </p>
    <a type="button text-center" class="btn btn-warning boton" routerLink="/nuevapro" *ngIf="isLogged">Nuevo
        Proyecto</a>


    <div class="row proyecto" *ngFor="let Proyecto of pro">
        <div class="edicion" *ngIf="isLogged">
            <button class="editar btn mx-2" routerLink="/editpro/{{Proyecto.id}}"><i
                    class="bi bi-pencil-fill"></i></button>
            <button class="borrar btn " (click)="delete(Proyecto.id)"><i class="bi bi-trash3"></i></button>
        </div>
        <div class="col-md-6 col-xl-6 detalles">

            <h2>{{Proyecto.nombreP}}</h2>
            <h4>{{Proyecto.descripcionP}}</h4>
        </div>
        <div class="col-xl-2"></div>
        <div class="col-md-6 col-xl-4">
            <img [src]="Proyecto.imgP" class="img-fluid imgproyecto">


        </div>
        <div class="redes  col  col-xl-12">

            <a class="  btn btn-primary btn-lg mx-2" href="{{Proyecto.paginaP}}">Pagina</a>
            <a class="btn btn-primary btn-lg" href="{{Proyecto.repositorioP}}">Repositorio</a>

        </div>


    </div>





</div>