#img{
    width: 200px;

}
.container{
  
    text-align: center;
    justify-content: space-around;
    margin-top: 110px;
  

   
}
.card{
    margin:2rem;
}


@media screen and (max-width:980px){
    .container{
        margin-top: 160px;
    }
}