
    <div class="row ">
        <div class="col-xs-12 col-sm-5 col-lg-3 ">
            <img src="../../../assets/foto-perfil.jpg" class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-7 col-lg-9">
            <p class="fs-1 text-center fw-bold">Arroyo Flavia</p>
            <p class="fs-4 text-center fw-bold">Full Stack Developer Jr</p>
            <p class= "fs-4 text-center fw-bold" >Argentina-Córdoba</p>
        </div>
    
    </div>
    <a name="sobremi" id="sobremi"></a>
    <div class="col-12 "  id="sobremi" >
        <p class="text-center fs-1 fw-bold">Sobre Mi</p>
        <p class=" fs-5 text-center " >Cuento con 10 años de experiencia en Contabilidad y Recursos Humanos, trabajando en la Universidad Nacional de Córdoba.
            En la actualidad estoy incursionando en el desarrollo de paginas web y aspiro a ser una excelente profesional aplicando todos mis conocimientos previos para lograr generar valor agregado a mis proyectos.
            Me gusta trabajar en equipo, fomento el trabajo colaborativo, soy comunicativa, persistente en lograr mis objetivos, atenta al detalle, proactiva, proclive al cambio y a la mejora continua tanto personal como profesionalmente</p>


    </div>


