/*estilo foto perfil*/
.row{
    background-color: azure;
    
   
}


.banner img{
   width: 100vw;
    height: 50vh;
    margin-top: 200px;

}

.boton{
    margin-bottom: 2rem;
    font-size: 20px;
    font-weight: bold;
    padding: 1rem;
}
.persona{
    margin-top: 120px;
    display: flex;
    justify-content: end;
}



#fotodeperfil{
    position: absolute;
    box-shadow: 10px 10px  15px #545050;
    width: 200px;
    top: 550px;
    left: 70px;
    border-radius: 90%;
    
   
}
#sobremip{
    border-style: inset;
    margin-top: 90px;
    
   
  
    
    

}



@media (min-width:1140px){
    .banner img{
        margin-top: 120px;
    }

    #fotodeperfil{
        width: 350px;
        top:450px;

    }
}
   