/*estilo foto perfil*/
.row{
    background-color: azure;
    
   
}



#fotodeperfil{
    box-shadow: 10px 10px  15px #545050;
    border-radius: 90%;
    
   
}
#sobremip{
    border-style: inset;
    margin-top: 150px;
   
  
    
    

}


@media (min-width:575px){
    #fotodeperfil{
        
        position: absolute;
        top:500px;
      
        
    }

}

@media (min-width:700px){
    #fotodeperfil{
        
        position: absolute;
        top:600px;
      
        
    }

}
@media (min-width:900px){
    #fotodeperfil{
        
        position: absolute;
        top:700px
        
    }

}
@media (min-width:1200px){
    #fotodeperfil{
        
        position: absolute;
        top:100px
        
    }

}
@media (min-width:1300px){
    #fotodeperfil{
        
        position: absolute;
        top:200px
        
    }

}

@media (min-width:1500px){
    #fotodeperfil{
        
        position: absolute;
        top:300px
        
    }

}

@media (min-width:1600px){
    #fotodeperfil{
        
        position: absolute;
        top:500px
        
    }

}
