
    <div class="row ">
        <div class="col-xs-12 col-sm-5 col-lg-3 ">
            <img src={{persona.img}} class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-7 col-lg-9">
            <p class="fs-1 text-center fw-bold">{{persona.nombre}}-{{persona.apellido}}</p>
            <p class="fs-4 text-center fw-bold">{{persona.titulo}}</p>
            <p class= "fs-4 text-center fw-bold" >{{persona.localidad}}</p>
        </div>
    
    </div>
    <a name="sobremi" id="sobremi"></a>
   
    <div class="col-12 "  id="sobremip" >
        <p class="text-center fs-1 fw-bold">Sobre Mi</p>
        <p class=" fs-5 text-center " >{{persona.sobremi}}</p>


    </div>


