
<div class="banner">
        
    <img [src]="persona.banner" class="img-fluid">

    
</div>

<a name="sobremi" id="sobremi"></a>
<div class="container">
    

    <div class="row persona">
      
        <div class="row row-cols-3 justify-content-center">            
            <button type="button text-center" class="btn btn-warning boton" *ngIf="isLogged"
                routerLink="/editper/{{persona.id}}"><i class="bi bi-pencil-fill"></i>EDITAR PERSONA</button>
        </div>


        <div class="col ">
            <img [src]="persona.img" class="img-fluid" id="fotodeperfil">
        </div>


        <div class="col-sm-12 col-lg-7 col-xl-9">
            <p class="fs-1 text-center fw-bold">{{persona.nombre}}-{{persona.apellido}}</p>
            <p class="fs-4 text-center fw-bold">{{persona.titulo}}</p>
            <p class="fs-4 text-center fw-bold">{{persona.localidad}}</p>
        </div>

    </div>

    <div class="row justify-content-center">
        <div class="col-12  text-center " id="sobremip">
            <p class=" fs-1 fw-bold">Sobre Mi</p>
            <h3 class=" fs-5 text-center ">{{persona.sobremi}}</h3>


        </div>

    </div>
</div>