<nav class="navbar navbar-expand-lg fixed-top" style="background-color: rgb(17, 148, 235);;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#home"><img src="../../../assets/APLogo.png" alt="logoap" id="logoap"></a>
    <button class="navbar-toggler" type="button" aria-label="Toggle navigation" (click)="ontoggle()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngClass]="{'collapse':toggle}" class="navbar-collapse">

      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="#sobremi" (click)="ontoggle()">SobreMi </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experiencia" (click)="ontoggle()">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#educacion" (click)="ontoggle()">Educacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills" (click)="ontoggle()">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#proyectos" (click)="ontoggle()">Proyectos</a>
        </li>


      </ul>

    </div>
    <div class="redes">
      <button type="button" class="btn btn-outline-light" (click)="openModal()" *ngIf="!isLogged">INGRESO</button>
      <button type="button" class="btn btn-primary" (click)="onLogOut()" *ngIf="isLogged" >CERRAR SESION</button>
      <img src="../../../assets/github.png">
      <img src="../../../assets/linkedin.png">
    </div>
  </div>
</nav>
<div class="modal fade" id="staticBackdrop" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">INICIAR SESION</h5>
        <img src="../../../assets/logueo.png">
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
          <div class="col-12 ">
            <label for="nombreUsuario" class="form-label">USUARIO</label>
            <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" [(ngModel)]="nombreUsuario" required>

          </div>
          <div class="col-12 ">
            <label for="password" class="form-label">CONTRASEÑA</label>
            <input type="password" class="form-control" id="password" 
            [(ngModel)]="password" name="password"required>
          </div>

            <div class="modal-footer">

              <button type="button" class="btn btn-primary" (click)="onLogin()" >INGRESAR</button>
              
              
            </div>
        </form>
        ...
      </div>

    </div>
  </div>