

.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edicion{
    
    top:-25px;
}
.edicion a{
    color:black;
    cursor: pointer;
}
 
.boton{
    margin-right: 2rem;
}
.contenedor{
    margin-right: 10px;
    height: 50px;
    margin-left: 10px;
    position: relative;
}









#logoap{
    width: 150px;
}

.nav-link{
    font-size: 20px;
    color:#fefefe;
    border-radius: 90px;
    font-weight: bold;
    cursor: pointer;
}
.nav-link:hover{
    background-color:rgb(17, 226, 241) ;
}
.redes{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.imgRedes img{
    width: 2rem;  
    height: 2rem;      
    border-radius: 50px;
    cursor: pointer;
}
.imgRedes img:hover{
    background-color:rgb(17, 226, 241) ;

}


.form-label{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
}
