

.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner img{
    width: 100vw;
    height: 50vh;

}


#logoap{
    width: 150px;
}

.nav-link{
    font-size: 20px;
    color:#fefefe;
    border-radius: 90px;
    font-weight: bold;
    cursor: pointer;
}
.nav-link:hover{
    background-color:rgb(17, 226, 241) ;
}
.redes{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.redes img{
    width: 4rem;    
    padding-left: .6rem;
    padding-right: .6rem;
    border-radius: 50px;
    cursor: pointer;
}
.redes img:hover{
    background-color:rgb(17, 226, 241) ;

}

.modal-header{
    display: flex;
    flex-direction: column;
}
.form-label{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
}
